/* styles.css */
body {
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("./images/incident-03.jpeg");
      background-size: cover;
  background-position: center;
  }

    /* Changing Background Image*/

#bg-img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./images/incident-1.jpeg");
      display: flex;
    justify-content: center;
    align-items: center;
}
  
  .container {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
    width: 300px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #fff;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #018786;
  }
  
  a {
    color: #03dac6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
